body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Georgia,serif;
	background-color: white;
}

section {
	padding: 10rem 0;
}

/* -------------------------------------- Header --------------------------------------------*/
header {
	background-color:#232323;
	padding: 15px;
}

header img {
	width: 9rem;	
	position: absolute;
	top: -1px;
	left: 10%;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0 10rem;
	text-align: right;
}

.nav-bar li {
	display: inline;
	
}

a:link, a:visited {
	text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;	
	padding: 5px;
	margin: 3px;
}


/*--------------------------------Quote Section --------------------------------*/ 

.quote-section {
	background-color: #bbd532;
}

.quote-section div {
	text-align: center;
	font-size: 28px;
	width: 60%;
	margin: 0 auto;
	position:relative;
}

.quote-section blockquote {
	margin: 0;
	display: inline;	
}

cite {
	display: block;	
	text-align:right;
}
/* .quote-section blockquote:before {
	content:'\201C';	
	position:absolute;
	left:-40px;
	top:-40px;
	
}

.quote-section blockquote:after {
	content:'\201D';	
	position:absolute;
	right:-40px;
	bottom:-60px;
}

.quote-section blockquote:before,
.quote-section blockquote:after {
	font-size:2em;
}
*/