/* colors:
	green: #beea06;
	teal: #05ced3;
	light teal: edf9f9;
	dark brown: #3a2f2c;
	brown: #534741;
	light brown: #eaeaea;
	
	
*/
	




body {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 'Raleway', sans-serif;
	background-color: white;
}

h1 {
	margin: 0 auto;
	text-align: center;
	font-size: 1.5rem;
	padding-top: 1.5rem;
	color: #f2f2f2;
	
}

h2 {
	text-align: center;	
	font-size: 2rem;
	
}

h3 {
	1.5rem;	
}


/*section {
	padding: 10rem 5rem;
}

*/
/*-------------------------------------- Header --------------------------------------------*/
.top-bar {
	background-color: rgba(255,255,255,0.95);
	padding: 28px 15px;
	position:fixed;
	width: 100%;
	z-index: 10;
	opacity: 0;

}

.top-bar.scrolling {
	
	opactiy: 1;
	
}

.header-logo {
	position: absolute;
	left: 10%;
	top: -6px;
	color: #01b9ae;
	font-size: 1.5rem;
}

.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0 10rem;
	text-align: right;
	
}

.nav-bar a {
	-webkit-transition:border 0.2s ease-out;
	transition:border 0.2s ease-out;
	border-color:white;
}

.nav-bar a:hover {
	border-bottom: solid 4px #01b9ae;
	
}

.nav-bar li {
	display: inline;
	
}

a:link, a:visited {
	text-decoration: none;
    color: #282828;
	text-align: center;	
	padding: 5px;
	margin: 3px;
}

a.menu-link {
	display: none;
}

/*--------------------------------Landing Page --------------------------------*/ 



.landing-page {
	margin: 0 auto; 
	display: block;
	padding: 2rem;
	color: #3a2f2c;
	background-image: url(../img/background-troll-hair.svg);
	background-size: cover;

}

.landing-page img {
	width: 100px;
	display: block;
	margin: 0 auto;
}


.landing-page h2 {
	font-size: 1rem;
	color: #e6e6e6;	
	margin: 0;
	line-height: 1rem;
}

/*--------------------------------Quote Section --------------------------------*/ 

.quote-section {
	background-color: #beea06;
	padding: 10rem 5rem;
	margin: 0 auto;
}


.quote-section img{
	width: 200px;
	display: inline;
	margin: 10px;
	
}


/*next change: min width: 1265px*/ 

/*-------------------------------About Section--------------------------------------*/ 

.about-section {
	padding: 6rem 0;
	background-image:url(../img/about-background.svg);
	background-size: cover;
}

.about-type {
	width: 50%;
	margin: 0 auto;
	color: #272727;
	line-height: 2rem;
	
	
}

.about-section h2 {
	margin: 0;
	color: #01b9ae;
}

.about-img {
	margin-left: 10rem;	
	width: 250px;
	top: -10px;
}

.mobile {
	display: none;	
}


/*-------------------------------Portfolio Section--------------------------------------*/ 



.portfolio-work {
	background-color: #01b9ae;
	padding: 3rem 3rem;
	text-align: center;
	
}

.portfolio-work a {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	color: #01b9ae;
}

.portfolio-work img {
	margin: 0;
	filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
	cursor: pointer;
}

.portfolio-work a:hover img {
	filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    filter: none;	
}

.portfolio-details {	
	background: white;
	display:none;
	padding: 3rem 2rem;
	position:relative;
	color: #3a2f2c;
}

.port-description {
	width: 40%;
	margin-right: 8%;
	float: right;
	top: -25px;	
}

.portfolio-details img {
	width: 50%;
	float:left;
	display:block;
	margin: 5px;
}

.portfolio-details h4 {
	margin: 0;
}
.portfolio-details .portfolio-item {
	line-height:2em;
	width:80%;
	margin:0 auto;
	display:none;
}

.portfolio-details #close-portfolio {
	position:absolute;
	width: 50px;
	top:40px;
	right:40px;
}


/*------------------------------Contact------------------------------*/

.contact-section {
	background-color: white;
	padding: 3rem 5rem;	
	text-align:center;
	color: #01b9ae;
}

.contact-section a {
	display: inline-block;
	text-align: center;
	margin: 30px;	
}




.contact-section h2 {
	text-align: center;	
}


/*------------------------------Footer------------------------------*/

footer {
	background-color: #1a1a1a;
	padding: 2rem;
}

footer p {
	margin: 0;	
	color:#FFFFFF;
}


@media (max-width: 1135px) {
	.about-type {
		float: none;
		text-align:center;	
		margin: 0 auto;
	}
	

	
	.portfolio-work {
		text-align: center;
		margin: 0 auto;	
		padding: 0;
	}
	
	.port-description {
	width: 90%;
	text-align:center;
	margin: 0 auto;
	float: none;
	padding: 0;
	}

	.portfolio-details img {
	width: 100%;
	margin: 0 auto;
	display: block;
	}
	
	.portfolio-details img {
		float: none;
		margin-bottom: 15px;	
	}
	
	.quote-section {
		padding: 5rem 2rem;	
	}
	
	.nav-bar{
		padding: 0 2rem;	
	}
	
	.portfolio-details img {
		width: 45%;	
	}
	
	.contact-section {
		padding: 0;	
	}
	
}




@media (max-width: 610px) {
	
	.top-bar {
		padding: 0;	
	}
	
	
	.landing-page {
		line-height: 3rem;
		text-align: center;
	}
	
	.landing-page img{
		width: 40%;	
	}
	
	
	.quote-section {
		display: none;
	}
	
	
	.mobile {
		display: block;	
	}
	
	.large-screen {
		display: none;
	}
	
	.about-type {
		width: 70%;	
	}
	
	.portfolio-work {
		paddinging: 	
	}
	
	
	.header-logo {
		top: auto;	
		text-align:center;
	}
	
	a.menu-link {
  	    	float: right;
		    display: block;
			margin: 0 1rem;
				
		}
		
		nav[role=navigation] {
			clear: both;
			-webkit-transition: all 0.3s ease-out;  
			-moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}
		.js nav[role=navigation] {
			overflow: hidden;
			max-height: 0;
		}
		nav[role=navigation].active {
			max-height: 15em;
		}
		nav[role=navigation] ul {
			margin: 0;
			padding: 0;
			border-top: 1px solid #808080;
		}
		nav[role=navigation] li a {
			display: block;
			padding: 0.8em;
			border-bottom: 1px solid #808080;
		}
		
		
}